<!DOCTYPE html>
<html lang="fr">
  <%-include('header.ejs')%>

  <body>
    <header>
      <h1>GameHub</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
        </ul>
      </nav>
    </header>

    <h3>Jeu De La Fouchette</h3>

    <script src="/js/fourchette.js"></script>
  </body>
</html>
