<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Games</title>
  <link rel="stylesheet" href="/css/style.css" />

  <% if (name === "diceRoller") { %>
  <link rel="stylesheet" href="/css/diceRoller.css" />
  <% } else if (name === "invader") { %>
  <link rel="stylesheet" href="/css/invader.css" />
  <% } %>
</head>
